<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <navbar>
      
      <h1 class="logo">{{title}}</h1>
      {{#if user}}
        <a href="/test">
          Signed in as {{user.profile.firstName}} {{user.profile.lastName}}
        </a>
      {{/if}}
      {{#if user}}
        <a class="item" href="/logout">Sign out</a>
      {{else}}
        <a  class="item" href="/login">Sign in</a>
      {{/if}}
    </navbar>
    <main>
      {{{body}}}
    </main>
  </body>
</html>