
<div class="container">
  <form method="post">
    <p>Please complete the form to register. Password must be at least 6 characters.</p>
    <label for="firstname">
      First Name
      <input id="firstname" name="firstName" required value="{{body.firstName}}" />
      <label class="error">{{errors.firstName}}</label>
    </label>
    <label for="lastname">
      Last Name
      <input id="lastname" name="lastName" required value="{{body.lastName}}" />
      <label class="error">{{errors.lastName}}</label>
    </label>
    <label for="email">
      Email address
      <input type="email" id="email" name="email" required value="{{body.email}}" />
      <label class="error">{{errors.email}}</label>
      <label class="error">{{errors.login}}</label>
    </label>
    <label for="password">
      Password
      <input
        name="password"
        type="password"
        required
        value="{{body.password}}"
      />
      <label class="error">{{errors.password}}</label>
    </label>

    <button class="actionButton" type="submit">Register</button>
    <p>Already registered? <a href=/login>Login</a> now.</p>
  </form>
</div>