<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>


<!--
<form method="post">
  {{#each fields}}
    <div>
      <label for="{{this.name}}">
        {{this.label}}
        <input
          id="{{this.name}}"
          {{#if this.type}}type="{{this.type}}"{{/if}}
          name="{{this.name}}"
          {{#if this.required}}required{{/if}}
          value="{{this.value}}"
        />
      </label>
    </div>
  {{/each}}

  
</form>
-->

<!--<button onclick="post()">Liked</button>-->

<form method="post">
    <div class="hidden">
        <input id ="likedRecipe" name="likedRecipe" value= "" />
    </div>
    <div>
        <button type="submit">Liked This</button>
    </div>
</form>


<form method="post">
    <div class="hidden">
        <input id ="likedRecipe1" name="likedRecipe" value= "" />
    </div>
    <div>
        <button type="submit">Liked This</button>
    </div>
</form>






<p id="liked">{{user.profile.likedRecipe}}</p>



<!--
    <form  method="post">
        <input id ="likedRecipe" type="submit" name="likedRecipe" value= "" />
    </form>
-->

<!--
<form  method="post">
    <input id ="likedRecipe1" type="submit" name="likedRecipe" value= "" />
</form>
-->



<script type="text/javascript">
    
    $(".hidden").hide();
    
    var current = document.getElementById('liked').innerHTML;
    console.log(current);
    
    var recipes = current.split(",");
    
//    if(recipes.includes("cool")){
//        
//    }
    var update = current + "Tuna Roll" +",";
//    var update = "";
    document.getElementById('likedRecipe').value = update;
    
    var update1 = current + "Salmon Roll" +",";
    document.getElementById('likedRecipe1').value = update1;

    console.log(document.getElementById('likedRecipe').value);

    
</script>